.transfer-wrapper {
    display: flex;
    background-color: #302D49;
    border-radius: 8px;
}

.transfer__content {
    margin: 20px;
}

.transfer__content h1 {
    color: #CECCE3;
}

.transfer-from, .transfer-to, .transfer-sum {
    display: flex;
    flex-direction: column;
}

.transfer-form {
    display: flex;
    flex-direction: column;
}

.user-transfer-info {
    height: 44px;
}

.transfer-from__info {
    display: flex;
    color: #F4B73F;
    align-items: flex-end;
}

.label{
    color: #CECCE3;
    font-weight: 600;
    margin: 0;
    margin-bottom: 6px;
}

.transfer-input {
    flex: 1;
    border-radius: 16px;
    border: none;
    background-color: #e5e5e5;
    font-size: 16px;
    padding-left: 24px;
}

.lemons-count {
    font-weight: bold;
    margin: 0;
}

.submit-transfer {
    margin-top: 24px;
    height: 44px;
    width: 244px;
    border: none;
    background-color: #F4B73F;
    font-size: 18px;
    border-radius: 12px;
}

.status {
    float: left;
}
