.delete-user-wrapper {
    display: flex;
    background-color: #302D49;
    border-radius: 6px;
}

.remove-button {
    height: 44px;
    padding: 0 16px;
    background-color: #F4B73F;
}

.accept-checkbox {
    color: #CECCE3;
}

.delete-wrapper {
    display: flex;
}

.delete-user__form {
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.delete-user__form h1 {
    margin-top: 0;
    margin-bottom: 8px;
    color: #CECCE3;
}

.delete-user__description {
    color: #A9A6BD;
    margin: 0;
    font-size: 12px;
    max-width: 700px;

    margin-bottom: 20px;
}
