.new-user-wrapper {
    display: flex;
    flex-direction: column;
    background-color: #302D49;
    border-radius: 6px;
}

.new-user-input {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.new-user-input h1 {
    color: #A9A6BD;
    margin-top: 0;
}

.new-user__form {
    display: flex;
    flex-direction: row;
}

.new-user-submit {
    background-color: #F4B73F;
    border: none;
    border-radius: 6px;
    height: 44px;
    padding: 0 16px;
}

.new-user__user-email {
    color: #52AEF8;
    text-decoration: underline;
}
